:root {
  --main-color: #2196F3;
  --black-color: #212121;
  --main-white: #FFFFFF;
  --text-gray: #757575;
  --background-main: #E5E5E5;
  --background-secondary: #2F303A;
  --cubic-main: cubic-bezier(0.4, 0, 0.2, 1);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--main-white);
  color: var(--black-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media (min-width: 767px) {
  .current::after {
    position: absolute;
    display: block;
    content: "";
    background: var(--main-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    bottom: 0;
  }
  .link.current {
    padding: 32px 0;
  }
}
.link.current {
  color: var(--main-color);
  position: relative;
}

.link {
  text-decoration: none;
  transition: color 250ms var(--cubic-main);
}
.link:hover, .link:focus {
  color: var(--main-color);
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo--blue {
  color: var(--main-color);
}
.logo--white {
  color: var(--main-white);
}
.logo--center {
  justify-content: center;
}
.logo--down {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .logo--right {
    margin-right: 93px;
  }
  .logo--bottom {
    margin-bottom: 20px;
  }
  .logo--center {
    justify-content: start;
  }
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .header {
    padding: 20px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__part {
  color: var(--black-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 40px;
  line-height: 1.18;
}
@media (min-width: 768px) {
  .nav__part {
    font-size: 14px;
    line-height: 1.14;
  }
}
@media (min-width: 1200px) {
  .nav__part {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-gray);
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .contact__link {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header__soc-links {
  display: none;
}

.header__social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header__social-thumb {
  position: relative;
  display: flex;
  align-items: center;
}
.header__social-thumb:not(:last-child):after {
  content: " ";
  display: block;
  width: 22px;
  height: 1px;
  background: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

@media (max-width: 767px) {
  .contact__phone {
    font-size: 34px;
    line-height: 1.18;
    color: var(--main-color);
  }
  .contact__mail {
    font-size: 24px;
    line-height: 1.2;
  }
  .header__soc-links {
    display: inline-flex;
  }
}
.contact__icon {
  fill: var(--text-gray);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--main-color);
}

.contact {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .contact {
    margin-bottom: 0;
    gap: 10px;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .contact {
    gap: 30px;
    margin-left: auto;
    flex-direction: row;
  }
}

.nav__items {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 768px) {
  .nav__items {
    align-items: center;
    flex-direction: row;
    gap: 50px;
    margin-right: 96px;
  }
}
@media (min-width: 1200px) {
  .nav__items {
    margin-right: 0px;
  }
}

.header__menu-btn {
  border: none;
  background-color: transparent;
  display: inline-flex;
  margin: 0;
  padding: 0;
  z-index: 30;
}
.header__menu-btn:hover, .header__menu-btn:focus {
  fill: var(--main-color);
}

.header__menu-btn .header__icon-cross {
  display: none;
}

.header__menu-btn.is-open .header__icon-cross {
  display: block;
}

.header__menu-btn.is-open .header__icon-menu {
  display: none;
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-white);
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    z-index: 20;
  }
  .header__menu.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .header__menu {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .header__menu {
    flex-grow: 1;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}
.hero {
  letter-spacing: 0.06em;
  margin: auto;
  max-width: 480px;
  padding: 118px 0px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px 400px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tab.jpg);
    background-size: 768px 400px;
    max-width: 768px;
    max-height: 400px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desk.jpg);
    background-size: 1600px 600px;
    max-width: 1600px;
    max-height: 600px;
    padding: 200px 0px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desk@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white);
  margin-bottom: 30px;
  max-width: 696px;
  letter-spacing: 0.06em;
}
@media (min-width: 768px) {
  .hero__title {
    max-width: 360px;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  display: block;
  color: var(--main-white);
  background-color: var(--main-color);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  margin: 0 auto;
  cursor: pointer;
  transition: box-shadow 250px var(--cubic-main);
}
.hero__btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .advantage__position {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.advantage__cards {
  width: 100%;
}
@media (min-width: 768px) {
  .advantage__cards {
    max-width: 354px;
  }
}
.advantage__cards:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .advantage__cards {
    max-width: 270px;
  }
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .advantage__title {
    text-align: start;
  }
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-gray);
}

.advantage__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
}

.examples {
  display: none;
}
@media screen and (min-width: 1200px) {
  .examples {
    display: initial;
  }
}

.examples__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.examples__position {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 94px;
}

.examples__picture {
  position: relative;
  overflow: hidden;
}

.examples__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white);
  background: rgba(47, 48, 58, 0.8);
  transition: transform 250ms var(--cubic-main);
}

.examples__picture:hover .examples__text {
  transform: translateY(-100%);
}

.team {
  background-color: #F5F4FA;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .team__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.worker {
  background-color: #F5F4FA;
}
@media (min-width: 768px) {
  .worker {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.worker__position {
  padding-top: 30px;
  padding-bottom: 24px;
}

.worker__card {
  background: var(--main-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (min-width: 768px) {
  .worker__card {
    width: 354px;
  }
}
@media (max-width: 767px) {
  .worker__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .worker__card {
    width: 270px;
  }
}

.worker__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.worker__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-gray);
}

.worker__social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.worker__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--main-white);
  border-radius: 50%;
  fill: #AFB1B8;
  transition: background-color 250ms var(--cubic-main), fill 250ms var(--cubic-main), border-radius 250ms var(--cubic-main);
}
.worker__link:hover, .worker__link:focus {
  background-color: var(--main-color);
  fill: var(--main-white);
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .clients__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
}
@media (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__company {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: fill 250ms var(--cubic-main), border-color 250ms var(--cubic-main);
}
.clients__company:hover, .clients__company:focus {
  fill: var(--main-color);
  border-color: var(--main-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic-main), visibility 250ms var(--cubic-main);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 528px;
  max-height: 581px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic-main);
  padding: 40px;
  z-index: 999;
}
@media (max-width: 767px) {
  .modal {
    max-width: 450px;
    width: 100%;
    height: 609px;
  }
}
@media (min-width: 768px) {
  .modal {
    width: 450px;
    max-height: 609px;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    max-height: 581px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-white);
  fill: #000000;
  height: 30px;
  width: 30px;
  transition: fill 250ms var(--cubic-main);
}
.modal__close:hover {
  fill: var(--main-color);
  cursor: pointer;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 12px;
}

.form-field__title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-gray);
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
}

.form-field__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  padding-left: 42px;
}
.form-field__input:focus {
  outline-color: var(--main-color);
}

.form-field__position {
  position: relative;
}

.form-field__logo {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form-field__input:focus + .form-field__logo {
  fill: var(--main-color);
}

.form-field__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
}
.form-field__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__textarea:focus {
  outline-color: var(--main-color);
}

.modal__agree {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-gray);
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .modal__agree {
    font-size: 12px;
    line-height: 1.17;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .modal__agree {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media (min-width: 1200px) {
  .modal__agree {
    font-size: 14px;
    line-height: 1.17;
    justify-content: center;
  }
}

.modal__agree-link {
  color: var(--main-color);
  margin-left: 4px;
}
@media (min-width: 332px) and (max-width: 433px) {
  .modal__agree-link {
    margin-left: 24px;
  }
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__check {
  width: 16px;
  height: 15px;
  fill: var(--black-color);
  margin-right: 7px;
}

.modal__checkbox:checked + .modal__check {
  fill: var(--main-color);
  background-image: url(../images/icons/check.svg);
  background-origin: border-box;
}

.modal__btn-feedback {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  color: var(--main-white);
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  transition: box-shadow 250ms var(--cubic-main);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.modal__btn-feedback:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

footer {
  background-color: var(--background-secondary);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__position {
  text-align: center;
}
@media (min-width: 768px) {
  .footer__position {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .footer__position {
    text-align: start;
    align-items: baseline;
  }
}

.footer__info {
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .footer__info {
    margin-bottom: 0;
  }
}

.footer__map {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--main-white);
  margin-bottom: 9px;
}

.footer__contact {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.mail {
  margin-bottom: 9px;
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-white);
}

.footer__join {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__join {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--main-white);
  transition: background-color 250ms var(--cubic-main);
}
.footer__icon:hover, .footer__icon:focus {
  background-color: var(--main-color);
}

.footer__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 100%;
  background-color: var(--background-secondary);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--background-main);
}
.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.footer__subscribe {
  display: flex;
  flex-flow: column;
  margin-left: auto;
}
@media (min-width: 768px) {
  .footer__subscribe {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .footer__subscribe {
    margin-left: auto;
  }
}

.footer__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1200px) {
  .footer__form {
    flex-wrap: nowrap;
  }
}

.footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  background-color: var(--main-color);
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .footer__btn {
    margin-top: 0;
  }
}

.footer__send {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */