.nav {
    @media (min-width: 768px) {
        display: flex;
    } 
}

.header {
    border-bottom: 1px solid #ececec;
    padding: 10px 0;

    @media (min-width: 768px) {
        padding: 20px 0;
    }

    @media screen and  (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.header__position {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__part {
    color: var(--black-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 40px;
    line-height: 1.18;
    
    @media (min-width: 768px) {
        font-size: 14px;
        line-height: 1.14;
    }

    @media (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.contact__link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-gray);

    display: flex;
    align-items: center;

    @media (min-width: 768px) {
        font-size: 12px;
        line-height: 1.17;
    }

    @media (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.header__soc-links {
    display: none;
}

.header__social {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    
    color: var(--main-color);
}

.header__social-thumb {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child):after {
        content: " ";
        display: block;
        width: 22px;
        height: 1px;
    
        background: rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
        }
}

@media (max-width: 767px) {
    .contact__phone {
        font-size: 34px;
        line-height: 1.18;
        color: var(--main-color);
    }

    .contact__mail {
        font-size: 24px;
        line-height: 1.2;
    }

    .header__soc-links {
        display: inline-flex;
    }
}


.contact__icon {
    fill: var(--text-gray);
    margin-right: 10px;

    @media (max-width: 767px) {
        display: none;
    }
}


.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
    fill: var(--main-color);
}

.contact {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    margin-bottom: 64px;

    @media (min-width: 768px) {
        margin-bottom: 0;
        gap: 10px;
        flex-direction: column;
    }

    @media (min-width: 1200px) {
        gap: 30px;
        margin-left: auto;
        flex-direction: row;
    }
}

.nav__items {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (min-width: 768px) {
        align-items: center;
        flex-direction: row;
        gap: 50px;
        margin-right: 96px;
    }

    @media (min-width: 1200px) {
        margin-right: 0px;
    }
}

.header__menu-btn {
    border: none;
    background-color: transparent;
    display: inline-flex;
    margin: 0;
    padding: 0;
    z-index: 30;

    &:hover,
    &:focus {
        fill: var(--main-color);
    }
}

.header__menu-btn .header__icon-cross {
    display: none;
}

.header__menu-btn.is-open .header__icon-cross {
    display: block;
}

.header__menu-btn.is-open .header__icon-menu {
    display: none;
}

@media (max-width: 767px) {
    .header__menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;

    background-color: var(--main-white);

    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    z-index: 20;

    &.is-open {
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
  }
}

.header__menu {
    @media (min-width: 768px) {
        display: flex;
    }

    @media (min-width: 1200px) {
        flex-grow: 1;
        justify-content: space-between;
    }
}
 
@media (min-width: 768px) {
    .header__menu-btn {
        display: none;
    }
}