@media (min-width: 767px) {

.current::after {
    position: absolute;
    display: block;
    content: "";
    background: var(--main-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    bottom: 0;
}

.link.current {
    padding: 32px 0;
}
}

.link.current {
    color: var(--main-color);
    position: relative;
}
