.logo {
    display: flex;
    align-items: center;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;

    &--blue {
        color: var(--main-color);
    }

    &--white {
        color: var(--main-white);
    }

    @media screen and (min-width: 1200px) {
        &--right {
            margin-right: 93px;
        }
        
        &--bottom {
            margin-bottom: 20px;
        }
    }
}

