.logo {
    display: flex;
    align-items: center;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;

    &--blue {
        color: var(--main-color);
    }

    &--white {
        color: var(--main-white);
    }

    &--center {
        justify-content: center;
    }
    
    &--down {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        &--right {
            margin-right: 93px;
        }
        
        &--bottom {
            margin-bottom: 20px;
        }

        &--center {
            justify-content: start;
        }
    }
}

