.clients__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    margin-bottom: 50px;

    @media (min-width: 768px) {
        margin-bottom: 30px;
    }
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.clients__item {
    width: calc((100% - 30px) / 2);

    @media (min-width: 768px) {
        width: calc((100% - 60px) / 3);
    }

    @media (min-width: 1200px) {
        width: calc((100% - 150px) / 6);
    }
}

.clients__company {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    // width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: fill 250ms var(--cubic-main), border-color 250ms var(--cubic-main);

    &:hover,
    &:focus {
        fill: var(--main-color);
        border-color: var(--main-color);
    }
}

