:root {
    --main-color: #2196F3;
    --black-color: #212121;
    --main-white: #FFFFFF;
    --text-gray: #757575;
    --background-main: #E5E5E5;
    --background-secondary: #2F303A;
    --cubic-main: cubic-bezier(0.4, 0, 0.2, 1);
}